
body{
  background-color: black;
}
#mycanvas{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-image: url("Assets/bg.jpg");
  border:20px solid green;

}
